

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

@media print{
  #no-print{
    display:none;
    height: 0px;
    width: 0px;
  }
  #print-area{
    display: block;
    padding-block: 25px;
    padding-inline: 25px;
    margin: 1px;
    background-color: white;
  }
  #change-style{
    padding: 0px;
    margin: 0px;
  }

  body{
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

}

@page{
  size: auto;
  margin: 0mm;
}